@use "styles/variables" as var;

$max-column-count: 3;
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.photo-wrapper {
    position: relative;
    transition: 0.25s;
    height: 20rem;
    width: 100%;
}

.photo-selected {
    box-shadow: 0 0 0 0.2rem rgba(var.$on-secondary, 0.5);
}

.photo-select {
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 0 0.2rem rgba(var.$on-secondary, 0.5);
    }
}

@media (min-width: var.$small-screen) {
    .photo-wrapper {
        height: 20rem;
        width: 20rem;
    }
}
