@use "styles/variables" as var;

.input-date {
    display: block;
    padding: 0.375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: var.$on-surface;
    cursor: pointer;
    outline: none;

    &[type="file"]::file-selector-button {
        border-radius: 0.25rem;
        color: var.$on-surface;
        background-color: var.$primary;
        background-clip: padding-box;
        border: 1px solid var.$primary-variant;
    }
}
