@use "styles/variables" as var;
@use "styles/mixins" as mix;

.button {
    appearance: button;
    font-size: 1rem;
    padding: 0.5em 1.5em;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var.$on-primary;
    border-radius: 0.25rem;
    text-align: center;
    color: var.$on-primary;

    @include mix.offsetOrange;
}

.disabled {
    pointer-events: none;
}
