@use "styles/variables" as var;

.button {
	font-size: 1rem;
	padding: 0.75em 2em;
	font-weight: 600;
	background-color: transparent;
	color: var.$primary-button;
	border: 2px solid var.$primary-button;
	cursor: pointer;
	transition: 0.25s;

	&:hover,
	&:focus {
		box-shadow: 0 0.5em 0.5em -0.4em var.$primary-button;
		transform: translateY(-0.25em);
	}
}
