@use "styles/variables" as var;

.button {
	font-size: 1rem;
	padding: 0.75em 2em;
	font-weight: 600;
	background-color: transparent;
	color: var.$on-primary;
	border: 2px solid var.$on-primary;
	cursor: pointer;
	transition: 0.25s;

	&:hover {
		box-shadow: 0 0.5em 0.5em -0.4em var.$on-secondary;
		color: var.$on-secondary;
		border-color: var.$on-secondary;
		transform: translateY(-0.25em);
	}
}
