@use "styles/variables" as var;

.container {
	height: 100vh;
	margin: 0 auto;
	max-width: var.$content-width;
}

.header {
	display: grid;
}

.main {
	display: grid;
	justify-content: center;
	text-align: center;
}

.main-content {
	display: grid;
}

.main-header {
	margin: 2rem 0;

	> p {
		font-size: 1rem;
		font-weight: 600;
		font-style: italic;
		color: var.$on-secondary;
	}
}

.header-photo-wrapper {
	position: relative;
	width: 100%;
	height: 18rem;
}

.main-photo-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding: 2rem;
}

.main-button {
	margin: 3rem 0;
}
