@use "styles/variables" as var;
@use "styles/mixins" as mix;

@mixin row-height {
    font-size: 0.9rem;
    height: 3em;
}

.main-nav {
    display: grid;
    grid-template-areas:
        "logo icons"
        "text text";
    align-items: center;
    column-gap: 1rem;
    padding: 0 1rem;
    overflow: hidden;
}

.main-nav-link {
    grid-area: logo;
    display: inherit;
    margin-right: auto;
    justify-content: flex-start;
    @include row-height;
}

.icon-list {
    grid-area: icons;
    margin-left: auto;
}

.text-list {
    grid-area: text;
}

.text-list,
.icon-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    overflow: auto;
    @include row-height;
}

.text-item > a,
.icon-item > a {
    font-weight: 700;
    transition: transform 250ms;

    @include mix.offsetOrange;
}

.text-item > a {
    padding: 0.5em 0.7em;
}

.icon-item > a {
    padding: 0.5em;
}

@media only screen and (min-width: var.$small-screen) {
    .main-nav-link,
    .text-list,
    .icon-list {
        font-size: 1rem;
    }
    .main-nav {
        grid-template-areas: "logo text icons";
        grid-template-columns: 1fr max-content max-content;
    }
}
