@use "styles/variables" as var;

.photo-card {
    cursor: pointer;
    transition: 0.25s;
}

.photo-card:hover {
    transform: translateY(-0.25em);
}

.photo-wrapper {
    position: relative;
    width: 20rem;
    height: 12rem;
}

.photo-card > h2 {
    margin-top: 0.25em;
}
