@use "styles/variables" as var;

.photo-card {
    cursor: pointer;
    transition: 0.25s;
    width: 22rem;
}

.photo-card:hover {
    transform: translateY(-0.25em);
}

.photo-card > h2 {
    margin-top: 0.25em;
}
