@use "styles/variables" as var;

.container {
	height: 100vh;
	margin: 0 auto;
	max-width: var.$content-width;
}

.header {
	display: grid;
}

.main {
	display: grid;
	justify-content: center;
	text-align: center;
}

.main-subtitle {
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
	color: gray;
}