@use "styles/variables" as var;

.main {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: var.$primary;
    padding: 3rem;
    gap: 3rem;
}

.main-header > p {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    color: var.$on-secondary;
}

.main-photo-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

.main-button {
    margin: 0 auto;
}
