@use "styles/variables" as var;

.layout {
    display: flex;
    flex-direction: column;
}

.main {
    display: grid;
    flex-grow: 1;
    gap: 2rem;
    padding: 2rem;
}

// @media only screen and (min-width: var.$medium-screen) {
// 	.main {
// 		grid-template-columns: repeat(2, 1fr);
// 	}
// }
