@use "styles/variables" as var;

.main {
    display: grid;
    padding: 1rem 1rem 3rem 1rem;
    background-color: var.$primary;
    gap: 2rem;
}

.layout {
    display: flex;
    flex-direction: column;
}
