/* Screen sizes */
$small-screen: 36rem;
$medium-screen: 60rem;
$desktop: 120rem;

/* Width content */
$content-width: 80rem; // Ipad pro max

/* Colors */
$primary: white;
// $primary-variant: black;
$secondary: black;
// $secondary-variant: ;
$background: white;
// $surface: ;
// $error: ;

$on-primary: black;
$on-secondary: #ffa260;
// $on-background: ;
$on-surface: #495057;
// $on-error: ;

/* Button */
$primary-button: #ffa260;

/* Border Radius */
$border-radius: 4px;
